<!--  -->
{% extends 'base.html' %}
<!--  -->
{% block title %} {{page_title}} {% endblock %}
<!--  -->
{% block content %}
<!-- Header -->
{% include 'util/header.html' with action=action_title %}
<div class="overflow-x-auto">
  <table class="min-w-xl md:min-w-full divide-y overflow-auto divide-gray-200">
    <thead class="bg-white">
      <tr>
        <th class="py-3 text-left text-sm font-medium text-gray-600">Name</th>
        <th class="py-3 text-left text-sm font-medium text-gray-600">SKU</th>
        <th class="py-3 text-left text-sm font-medium text-gray-600">Stock</th>
        <th class="py-3 text-left text-sm font-medium text-gray-600">Price</th>
        <th class="py-3 text-end text-sm font-medium text-gray600">Action</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      {% if products %}
      <!--  -->
      {% for product in products %}
      <tr>
        <td class="py-3 px-3 md:px-0 text-sm text-gray-900">{{product.sku}}</td>
        <td class="py-3 px-3 md:px-0 text-sm text-gray-600">
          {{product.name}}
        </td>
        <td class="py-3 px-3 md:px-0 text-sm text-gray-600">
          {{product.stock_quantity}}
        </td>
        <td class="py-3 px-3 md:px-0 text-sm text-gray-600">
          {{product.price}}
        </td>
        <td>
          <div class="flex gap-2 justify-end">
            <a
              href="{% url 'v1:edit_product' id=product.id %}"
              class="cursor-pointer"
            >
              <!-- prettier-ignore -->
              <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#fbbf24">
              <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
              <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
            </svg>
            </a>

            <form
              method="post"
              action="{% url 'v1:delete_product' id=product.id %}"
              onsubmit="return confirm('Are you sure you want to delete?')"
              class="cursor-pointer"
            >
              {% csrf_token %}
              <button type="submit" class="cursor-pointer">
                <!-- prettier-ignore -->
                <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#dc2626" className="size-5">
                 <path fillRule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clipRule="evenodd" />
               </svg>
              </button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
      <!--  -->
      {% else %}
      <tr>
        <td colspan="5" class="py-10 text-center text-gray-500 mt-3">
          No products found.
          <a
            href="{% url 'v1:add_product' %}"
            class="text-neutral-600 font-bold underline"
            >Add one now?</a
          >
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<!--  -->
{% endblock %}
