{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
  </head>
  <body>
    <div class="max-w-4xl mx-auto mt-16">
      {% if messages %}
      <div class="mb-4">
        {% for message in messages %}
        <p
          class="p-3 rounded {% if message.tags == 'success' %} bg-green-100 text-green-800 {% elif message.tags == 'error' %} bg-red-100 text-red-800 {% else %} bg-gray-100 text-gray-800 {% endif %}"
        >
          {{ message }}
        </p>
        {% endfor %}
      </div>
      {% endif %}
      <!--  -->
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
