<div class="flex flex-col md:flex-row items-center justify-between mb-6">
  <div>
    <h2 class="text-2xl font-semibold text-gray-900">
      <a href="{% url 'v1:index' %}">Product Management Panel.</a>
    </h2>
    <p class="text-sm text-gray-600">
      Create, update,delete, and track product information.
    </p>
  </div>

  {% if action == "home" %}
  <a
    href="{% url 'v1:add_product' %}"
    type="submit"
    class="mt-4 md:mt-0 px-4 py-2 bg-neutral-600 text-white rounded-md shadow hover:bg-neutral-700 cursor-pointer"
  >
    + Add Product
  </a>
  {% else %}
  <button
    type="submit"
    class="mt-4 md:mt-0 px-4 py-2 bg-neutral-600 text-white rounded-md shadow hover:bg-neutral-700 cursor-pointer"
  >
    {{action}}
  </button>
  {% endif %}
</div>
